<div class="center  jumbotron">
  <h1>Olena's Alphablog</h1>
  <%= link_to 'Sign up now', "#", class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
<%# <%= link_to 'Alpha blog', articles_path %>
<%# <%= link_to 'About', about_path %>
<!-- <br>
<br>
<%# <%= image_tag 'pics.jpg', :size => '1262x560' %> -->
